header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.header_icon {
    height: 4em;
    width: 10em;
    background-image: url("../images/logo.png");
    background-size: fill;
    background-repeat: no-repeat;
    margin: 0px 0px 0px 15px;
}